# API Base URL
VITE_API_BASE_URL=http://localhost:45157

# Site Title
VITE_SITE_TITLE=Assist Agent

# Site Description
VITE_SITE_DESCRIPTION=Assist Agent is a multi-agent personal assistant that uses agents to help you with your dev tasks autonomously.

# Site Keywords
VITE_SITE_KEYWORDS=multi-agent, personal assistant, agents, tasks, workflows

# Site Author
VITE_SITE_AUTHOR=

# Site Author Email
VITE_SITE_AUTHOR_EMAIL=

# Auth0 Domain
# Example: {your-domain}.uk.auth0.com
VITE_AUTH0_DOMAIN=

# Auth0 Client ID
VITE_AUTH0_CLIENT_ID=
